/*Footer*/
:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

footer {
    width: 100%;
    color: #2428fd;
}

#footer_content {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
    
}

#footer_contacts h1{
    height: 1.5rem;
    width: 1.5rem;
    flex-direction: row;
    margin-bottom:5rem;
}
#footer_contacts img{
    width: 200px;

}
#footer_contacts p{
    color: #2428fd;
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

.footer-link{
    text-decoration: none;
}

#footer_social_media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    color: #fff;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link:hover{
    opacity: 0.8;
}
#footer_social_media .footer-link i {
    font-size: 1.5rem;
    color: #fff;
}

#instagram {
    background: #2428fd;
}
#facebook {
    background:#2428fd;
}
#whatsapp {
    background: #2428fd;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}
.footer-list .footer-link{
    color: #2428fd;
    transition: all 0.4s;
}

.footer-list .footer-link:hover{
    color: #2428fd;
}
#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}
#footer_subscribe p{
    color: #2428fd;
}

#input_group{
    display: flex;
    align-items: center;
    background: var(--color-neutral-0);
    border-radius: 4px;

}
#input_group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;
    color: #fff;
}
#input_group button{
    background-color: #2428fd;
    border: none;
    outline: none;
    color: var(--color-neutral-40);
    padding: 0pc 1.25rem;
    font-size: 1.25rem;
    height: 100%;
    border-radius: 0pc 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}
#input_group button:hover{
    opacity: 0.8s;
}

#footer_copyright{
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: var(--color-neutral-0);
    backdrop-filter: Blur(40px);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}
@media screen and (max-width: 768px){
    #footer_content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}