*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;

}
.container{
    margin: 0;
    background: #fff;
    max-width: 100%;
    height: 100vh;
    margin-top: 5%;
    padding: 0px;
}
.box-illumi{
    display: flex;
    flex-direction: row;
}


.item-1{
    width: 50%;
    background: transparent;
    margin-right: 30px;
}
.textos{
    padding: 0;
    flex-direction: column;
}
.illumi-unique{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: #fff;
    margin-bottom: 10%;
}
.illumi{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 60%;
    background: transparent;
}
.illumi h1{
    position: relative;
    font-size: 8vw;
    margin: 0;
    font-weight: 900;
    color: #2559BF;
}
.illumi p{
    font-weight: 600;
    font-size: 1vw;
    margin-left: 2%;
    letter-spacing: 1px;
}


.criatividade-unique{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: #2559BF;
    margin-bottom: 12%;
}
.criatividade{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    background: transparent;
    margin: 7% 3% 7% 0px;
    color: #fff;

}
.criatividade p{
    display: flex;
    align-items: center;
    justify-content: center; /* Opcional: para alinhar o texto horizontalmente */
    margin: 0; /* Pode ser necessário remover a margem padrão do parágrafo */
    font-size: 1.2vw;
}

.comece-unique{
    width: 68%;
    display: flex;
    justify-content: flex-end;
    background: #2559BF;
    margin-bottom: 0%;
}
.comece{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    margin: 2% 2% 2% 0px;
    background: transparent;
    color: #fff;
}
.comece p {
    display: flex;
    align-items: center;
    justify-content: center; /* Opcional: para alinhar o texto horizontalmente */
    margin: 0; /* Pode ser necessário remover a margem padrão do parágrafo */
    font-size: 1.2vw;
    letter-spacing: 1px;
}


.item-2{
    width: 50%;
    display: flex;
    align-items: end;
    background: transparent;
    margin-left: 30px;
}
.box-imagem{
    display: flex;
    justify-content:flex-start;
    background: #2559BF;
    padding: 0;
    height: 100%;
    width: 100%;
}
.box-imagem img{ 
    height: 100%;
    width: 113%;
    margin-left: -45%;
}

.slogan{
    z-index: 0;
    background: transparent;
    margin-top: 10%;
    position: relative;
    border-top: 1px solid black;
}
.quem-somos{
    background: transparent;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.item-3{
    position: absolute;
    margin-top: 40%;
    background: black;
    width: 100%;
    border: 1px solid black;
}
.armazem-text {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Defina a largura desejada */
    background: #fff;
    padding-top: 2%;
    padding-bottom: 2%;
    z-index: 999;
    box-shadow: 0px 0px 10px 0px rgb(214, 214, 214);
    border: 1px solid rgba(214, 214, 214, 0.61);
}
.box-item-text-img{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.box-text-item{
    margin-left: 3%;
    width: 23%;
}
.box-text-item h2{
    font-size: 1.2vw;
    margin-bottom: 10%;
    color: #000000;
}
.box-text-item p{
    font-size: 1vw;
    text-align:justify;
    color: #000000;
}
.logo-armazem{
    width: 25vw;
    margin-right: 3%;
    
    
}
.items-4{
    background: transparent;
    border-bottom: 1px solid black ;
    width: 50%;
    margin-top: 10%;
}

.box-quem-somos{
    width: 75%;
    display: flex;
    justify-content: flex-end;
    background: #2559BF;
    margin-bottom: 0%;
}
.texto-quem-somos{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    margin: 2% 2% 2% 0px;
    background: transparent;
    color: #fff;
}
.texto-quem-somos p {
    display: flex;
    align-items: center;
    justify-content: center; /* Opcional: para alinhar o texto horizontalmente */
    margin: 0; /* Pode ser necessário remover a margem padrão do parágrafo */
    font-size: 1.2vw;
    letter-spacing: 1px;
}
.items-5{
    width: 50%;
}
.box-img-quemSomos{
    width: 100%;
    background: transparent;
    height: 100%;
}
.img-quemSomos{
    width: 100%;
    
}

.a1{
    max-width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
}
.faixa-texto{
    margin-top: 10vh;
    background-color: rgb(19, 60, 155);
}
.texto-faixa{
    font-size: 1.1vw;
    color: whitesmoke;
    text-align: left;
    
    padding: 1.5vw;
    padding-left: 29vw;
    padding-right: 29vw;
}
.faixa-cards{
    display: none;
    position: relative;
    margin-top: 9%;
    background-color: rgb(19, 60, 155);
    z-index: 0;
    overflow: visible;
    padding: 2vw;
}
.container-cards{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 25vw;
    padding-right: 25vw;
    z-index: 1;
}
.card{
    width: 25vw;
    height: 25vw;
    margin: 5px;
    padding-top: 1.2vw;
    border-radius: 0;
    z-index: 2;
    margin-top: -5vw;
    margin-bottom: 10%;
    height: 17rem;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 2px 1px 15px ;
}
@media(max-width:1300px){
    .container-cards{
        padding-left: 30vh;
        padding-right: 30vh;
    }
    .card{
        margin-left: 0.2%;
        margin-right: 0.2%;
    }
}
.card-bottom{
    margin-bottom: -5vw;
}
.card-img-top{
    position: absolute;
    align-self: center;
    border: 5px solid rgb(28, 75, 173);
    border-radius: 100%;
    width: 7vw;
    height: 6vw;
}
.card-body{
    text-align: center;
}
.card-text{
    color: rgb(126, 126, 126);
}
@media (max-width: 1324px){
    #carouselExampleIndicators{
        display: block;
    }
    .faixa-cards{
        display: none;
    }

}
@media (min-width:1325px){
    #carouselExampleIndicators{
        display: none;
    }
    .faixa-cards{
        display: block;
    }
    
}
.carousel-inner h1,
.carousel-inner h6 {
    max-width: 100%;
    font-size: 2vw; /* Ajuste conforme necessário */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#carouselExampleIndicators{
    margin-top: 9%;
    max-width: 600rem;
    height:  auto;
    box-shadow: 2px 2px 10px;
    position: absolute;
    left: 25%;
    right: 25%;
    width: 50vw;
}

.carousel-inner{
    height: 50vh;
    width: 50vw;

}
@media (max-width: 1324px){
   .carousel-item h1,.carousel-item h6{
    font-size: large;
   }

}
@media (max-width: 450px){
    .carousel-inner{
    height: -60vh;
    width: -50vw;
    }
   

}

@media (min-width:600px){
    .carousel-inner{
        background-color: #2559BF;
        height: 60vw;
    }
}
@media (min-width: 936px){
    .carousel-inner{
        background-color: #51bf25;
        height: 60vw;
    }
}
img{
    display: none;
}